body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #E7F0F4;
}
body.search {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #E9E7D7;
}
body.list {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #E9E7D7;
	SCROLLBAR-FACE-COLOR: #D0E0FF;
	SCROLLBAR-HIGHLIGHT-COLOR: #EAF1FF;
	SCROLLBAR-SHADOW-COLOR: #EAF1FF;
	SCROLLBAR-3DLIGHT-COLOR: #EAF1FF;
	SCROLLBAR-ARROW-COLOR: #336699;
	SCROLLBAR-TRACK-COLOR: #EAF1FF;
	SCROLLBAR-DARKSHADOW-COLOR: #EAF1FF;
}
body.tab {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #fffbff;
}














table.mnuBar {
	BORDER-RIGHT: 1px solid #0048A0;
	BORDER-TOP: 1px solid #9DBFFE;
	BORDER-LEFT: 1px solid #9DBFFE;
	WIDTH: 100%;
	COLOR: #ffffff;
	BORDER-BOTTOM: 1px solid #0048A0;
	HEIGHT: 23px;
	BACKGROUND-COLOR: #6B8FC9;
}
td.wizHead {
	BORDER-RIGHT: 1px solid #9DBFFE;
	BORDER-TOP: 1px solid #9DBFFE;
	PADDING-LEFT: 6px;
	FONT-SIZE: 12px;
	VERTICAL-ALIGN: middle;
	BORDER-LEFT: 1px solid #9DBFFE;
	WIDTH: 100%;
	CURSOR: default;
	COLOR: #ffffff;
	BORDER-BOTTOM: 0px;
	HEIGHT: 20px;
	BACKGROUND-COLOR: #7FA1DD;
	font-family: "ו";
}
td.wizBox {
	BORDER-RIGHT: 1px solid #7FA1DD;
	BORDER-TOP: 0px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#EAF1FF, EndColorStr=#ffffff);
 	VERTICAL-ALIGN: top;
	BORDER-LEFT: 1px solid #7FA1DD;
	BORDER-BOTTOM: 1px solid #7FA1DD;
	BACKGROUND-COLOR: #ffffff;
}
table.wizBox {
	TABLE-LAYOUT: fixed;
	BEHAVIOR: url(/_nav/taskBox.htc);
	WIDTH: 100%;
	COLOR: #444466;
	HEIGHT: 100%;
}



.button1 {
	font-family: "??";
	font-size: 12px;
	background-image: url(../images/main/but_bg1.gif);
	vertical-align: bottom;
	height: 19px;
	width: 65px;
	border: 0px none;
	cursor: hand;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.button2 {
	font-family: "??";
	font-size: 12px;
	background-image: url(../images/main/but_bg1.gif);
	vertical-align: bottom;
	height: 19px;
	width: 75px;
	border: 0px none;
	cursor: hand;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
textarea.list {
	font-family: "??";
	font-size: 12px;
	color: #666666;
	background-color: #EAF1FF;
	border: 0px solid;
	width: 93px;
	line-height: 20px;
	text-align: left;
}
tr.out,.menuout
	{
	font-size: 12px;
	color:#000000;
	background-color: #7288AC;
	line-height: 12px;
	}
tr.out,.menuout1
	{
	font-size: 12px;
	color:#000000;
	background-color: #7288AC;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #000000;
	line-height: 12px;
	}
td {
	font-family: "??";
	font-size: 12px;
	color: #333333;
}

td.main_bottom {
	font-family: "??";
	font-size: 12px;
	border-right: 1px solid #949E9C;
	border-bottom: 1px solid #949E9C;
	border-left: 1px solid #949E9C;
}
td.main_top_left {
	font-family: "??";
	font-size: 12px;
	border-bottom: 1px solid #949E9C;
	height: 22px;
	width: 5px;
}
td.main_top_center {
	font-family: "??";
	font-size: 12px;
	border-left: 1px solid #949E9C;
	border-bottom: 1px solid #949E9C;
	height: 22px;
	width: 5px;
}
td.main_top_right {
	font-family: "??";
	font-size: 12px;
	border-left: 1px solid #949E9C;
	border-bottom: 1px solid #949E9C;
	height: 22px;
}

td.main_top_BG1 {
	font-family: "??";
	font-size: 12px;
	border-left: 1px solid #949E9C;
	height: 22px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #949E9C;
	text-align: center;
	cursor: hand;
}

td.main_top_BG2 {
	font-family: "??";
	font-size: 12px;
	background-color:#D3DCDA;
	border-left: 1px solid #949E9C;
	border-top: 1px solid #949E9C;
	border-bottom: 1px solid #949E9C;
	height: 22px;
	text-align: center;
	cursor: hand;
}
input.blank_240  {
	font-family: "??";
	font-size: 12px;
	border: 0px solid;
	height: 22px;
	width: 232px;
}
table.input_blank_bg240  {
	height: 22px;
	width: 240px;
	background-image: url(/images/main/put_txt_BG240.gif);
	text-align: center;
	vertical-align: bottom;
}
input.blank_125  {
	font-family: "??";
	font-size: 12px;
	border: 0px solid;
	height: 22px;
	width: 120px;
}
table.input_blank_bg125  {
	height: 22px;
	width: 125px;
	background-image: url(/images/main/put_txt_BG125.gif);
	text-align: center;
	vertical-align: bottom;
}
select {
	font-family: "??";
	font-size: 12px;
}
span.tab 
{
	font-size: 12px;
	border: 1px solid #94a6b5;
	top: 1px;
	left: 1px;
	height: 20px;
	margin-right: 1px;
	position: relative;
	padding: 4px 4px 4px;
	background-color: #ffffff;
	cursor: hand;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#fffbff', EndColorStr='#e7e4de');
	font-family: "??";
}

span.tabOn
{
	filter: "";
	background-color: #E8EDF0;
	border-bottom: 1px solid #E8EDF0;
	padding-bottom: 6px;
	cursor: default;
}

div.tab
{
	width: 100%;
	height: 100%;
	border: 1px solid #949e9c;
	background-color: #fffbff;
}

table.tabBar
{
	width: 100%;
	height: 35px;
	behavior: url(/_nav/tabs.htc);
}
