body
	{
	font-family: "??";
	font-size: 12px;
	color:#000000;
	}
td, div, input, textarea
	{
	font-family: 'MS Shell Dlg', ו, Tahoma;
	font-size: 12px;
	cursor: default;
	}
.title
	{
	background-color: #000080;
	color:#fdf7d3;
	padding: 1;
	font-family:ו;
	font-size:12px;
	}
a
	{
	color: #000000;
	text-decoration:none;
	cursor: default;
	}
.shuru
	{
	background-color: #FF9966;
	}
#ie5menu
	{
	FILTER: alpha(opacity=0);
	POSITION: absolute;
	VISIBILITY: hidden;
	WIDTH: 110px;
	z-index:10000;
	}
SELECT
	{
	FONT-SIZE: 12px;
	FONT-FAMILY: "MS Shell Dlg";
	}
.article
	{
	BORDER: black 1px solid;
	VISIBILITY:hidden;
	background-color:infobackground;
	padding: 4px;
	text-align:left
	}
HR
	{
	width:95%;
	border: 1px inset #ffffff
	}
.up
	{
	background-color: #cccccc;
	color:#000000;
	border: 2px outset #ffffff
	}
.down
	{
	background-color: #cccccc;
	border:2px inset #ffffff
	}
.up1
	{
	background-color: #cccccc;
	color: #000000;
	border: 1px outset #ffffff
	}
.down1
	{
	background-color:#cccccc;
	border:1px inset #ffffff
	}
tr.over,.menuover
	{
	font-size: 12px;
	color: #ffffff;
	background-color: #000080;
	cursor: default
	}
tr.out,.menuout
	{font-size: 12px;
	color:#000000;
	background-color: #cccccc;
	}
div.rm_div
	{
	position: absolute;
	filter: Alpha(Opacity='100');
	display: none;
	background-color:#cccccc;
	border:2px outset #ffffff;
	width: 0;
	height:0;
	padding:1;
	z-index:100000;
	}
.w2kfont
	{
	font-family: Tahoma;
	font-size: 8pt;
	}
.time
	{
	font-family: Tahoma;
	font-size: 8pt;
	color:#000000;
	}
.shortcut
	{
	position: absolute;
	left: 14;
	top: 24;
	width:11;
	height:11;
	}
.ico
	{
	position: absolute;
	top: -100;
	left: -100;
	width: 60;
	height: 45;
	font-size:12px;
	font-family:ו;
	color:#ffffff;
	cursor:default;
	}
.onblur
	{
	color:#ffffff;
	cursor:default;
	background-color: #4070B0;
	}
.onfocus
	{
	background-color: #000080; color: #FFFFFF;
	}
