<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	<!-- 配置数据库的联接信息 -->
	<!-- 驱动程序、URL、用户名、密码 -->
	<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="connection.url">
		jdbc:mysql://localhost/vsts
	</property>
	<property name="connection.username">root</property>
	<property name="connection.password">root</property>
	<!-- 方言 -->
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<!-- 其它信息 -->
	<property name="show_sql">true</property>
	<property name="format_sql">true</property>
	<!-- 映射文件：类路径 文件名形式 -->
	
	<mapping resource="com/ambow/vsts/entity/User.hbm.xml" />
	<mapping resource="com/ambow/vsts/entity/config.hbm.xml" />

</session-factory>
</hibernate-configuration>